<div class="container">
  <div class="title">Employee Detail Entry Form</div>


  <form (ngSubmit)="onSubmit(formValue)" #formValue="ngForm">
    <div class="name">
      <label for="fname">First Name</label>
      <input type="text" required #fname="ngModel" pattern="[A-Za-z]" title="Must be a alphabetical character"
        name="fname" id="fname" placeholder="Enter Your First Name" ngModel> <br>
      <span class="one" *ngIf="fname.invalid && fname.touched">Please enter first name</span><br>
    </div>


    <div class="name2">
      <label for="lname">Last Name</label>
      <input required type="text" #lname="ngModel" name="lname" pattern="[A-Za-z]"
        title="Must be a alphabetical character" id="lname" placeholder="Enter Your Last Name" ngModel><br>
      <span *ngIf="lname.invalid && lname.touched">Please enter last name</span><br>
    </div>

    <div class="add">

      <label for="address">Enter your address:</label><br>
      <textarea required #address="ngModel" name="address" id="" cols="42" rows="5" ngModel></textarea><br>
      <span *ngIf="address.invalid && address.touched">Address field is required</span><br>
    </div>


    <div class="db">

      <label for="dateofbirth">Date Of Birth</label>
      <input class="dob" required #dateofbirth="ngModel" type="date" id="dateofbirth" name="dateofbirth" ngModel><br>
      <span *ngIf="dateofbirth.invalid && dateofbirth.touched">DOB is required</span><br>
    </div>

    <div class="em">
      <label for="email">Email: </label>
      <input class="email" required #email="ngModel" ngModel type="email" id="email" name="email"
        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" /> <br />
      <span *ngIf="email.invalid && email.touched">Email is required</span><br>
    </div>

    <div class="p">
      <label for="password">Password: </label>
      <input class="pwd" required #password="ngModel" title="Password must be of length 10"  maxlength="10" ngModel
        type="password" id="password" name="password" /> <br />
      <span *ngIf="password.invalid && password.touched ">password is required</span><br>
    </div>
    <label for="mobilenumber">Enter Your Mobile Number</label><br>
    <input class="mb" required #mobilenumber="ngModel" ngModel type="tel" name="mobilenumber" id="mobilenumber"
      maxlength="10" title="Must be of 10 digits"><br>
    <span *ngIf="mobilenumber.invalid && mobilenumber.touched && mobilenumber">Enter a valid mobile number</span><br>

    <label for="pincode">Pincode</label><br>
    <input class="pn" required #pincode="ngModel" maxlength="6" title="Must be of 6 digits" ngModel type="tel"
      name="pincode" id="pincode"><br>
    <span *ngIf="pincode.invalid && pincode.touched">please enter a pincode</span><br>
<div class="country">
    <label for="country">Country</label>
    <select name="country" id="country">
      <option value="India">India</option>
      <option value="India">India</option>
      <option value="India">India</option>
    </select><br>
  </div>
<div class="state">
    <label class="st" for="state">State</label>
    <select name="country" id="country">
      <option value="India">India</option>
      <option value="India">India</option>
      <option value="India">India</option>
    </select><br>

  </div>
  <button (click)="onClick(formValue)" class="btn">
    <input  type="submit" value="Save" id="btn"></button>
    <!-- <button  type="button" id="btn">Save</button> -->



  </form>
</div>



<!-- <router-outlet></router-outlet> -->